.footer {
   background-color:rgba(175, 146, 18, 0.808);
   font-size: 1rem;
   color: rgb(0, 0, 0);
   text-align:center;
}
 .footer__logo-box {
   padding-top: 1rem;
   margin-bottom: 0;
}
 .footer__logo {
   width: 7rem;
   height: auto;
   margin: 0;
}
 .footer__navigation {
   border-top: 1px solid rgb(0, 0, 0);
   display: inline-block;
}
 .footer__list {
   list-style: none;
}
 .footer__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
 .footer__item:not(:last-child) {
   margin-right: 4rem;
   width: 85%;
}
 .footer__copyright {
   padding-top: 1rem;
}