
.instructor-landing {
    margin: auto;
    height: 80vh;
    width: 85%;
    justify-content: center;
    display: flex;
    font-weight: 400;
    font-size: larger;
}

.instructor-landing .wrapper{
    margin: auto;
    justify-content: center;
    flex: 1;
    margin-top: 2rem;
    width: 90%;
    min-height: 20rem;
}

.instructor-landing .instructor-list-header{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.instructor-landing .instructor-head-course{
 width:fit-content;   
}

.instructor-landing .instructor-view{
    width:fit-content;   
   }

.instructor-landing .instructor-head{
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instructor-landing .instructor-list{
    flex: auto;
    flex-direction: column;
}
.instructor-list-grid{
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow-y: hidden;
    /* max-height: 40vh; */
}
/* .instructor-list-grid::-webkit-scrollbar {
    display: none;
  } */