.landing .top{
    display:flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(rgba(256,256, 256, 0.6), rgba(256, 256, 256, 0.6)),url("../assets/books.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
}
.landing .head
{
 position: absolute;
  top: 20%;
  text-align: center;
  color:rgb(192, 69, 20);
  font-size: 50px;
}
.landing .heading-primary {
    color: rgb(14, 41, 44);
    text-transform: uppercase;
    backface-visibility: hidden;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 25px;
  }
  .landing .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
  }
  .landing .div2{
    margin:0;
    padding:0;
  }
  .landing .jumbo{
      display:flex;
      flex-direction:row;
      justify-content: center;
      background:#f5f5ef;
  }
  .landing .div2 .jumbotron{
    margin-bottom:0;
    padding:80px;
    border:none;
    background:#f5f5ef;
  }
  .landing .mFarm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background:#f5f5ef;
      padding-left: 1rem;
  }
  .landing .brown{
    min-width:300px;
      background-image:url("../assets/books.jpg");
      background-size: cover;
  }
  .landing .card .card-header{
      background-color:#f5f5ef;
      text-align: center;
      border:none;
  }
  .landing .card{
    border:none !important;
}
  .landing.card-body{
    padding:0;
    border:none;
  }
  .landing .card2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background:#f5f5ef;
    border:none;
}
.landing .features{
    border-radius:1rem;
}
.landing .pictures{
  align-self: center;
  border: 1rem solid transparent;
}
.landing .carousel-outer{
  padding:20px;
  background-color: #ffb347;
}
.landing .container{
  box-shadow:none!important;
  height:auto!important;
}
